<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = User.avatar_url(@user, 128) %>
      <% unless avatar_url.nil? %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<% if @user.has_posts? %>
  <%= render @user.posts %>
<% else %>
  <%= "#{@user.name} has not submitted any posts yet." %>
<% end %>

<h2>Comments</h2>
<% if @user.has_comments? %>
  <%= render @user.comments %>
<% else %>
  <%= "#{@user.name} has not commented on any posts yet." %>
<% end %>

<h2>Favroites</h2>
<% if @user.has_favorites? %>
  <%= render partial: 'favorites/favorite', locals: { post: @post } %>
  <%= image_tag User.avatar_url(current_user, 48), class: "gravatar" %>
  <%= pluralize(@post.points, 'point') %>
  <%= pluralize(@user.comments.count, 'comment') %>
<% else %>
  <%= "#{@user.name} has not favorited any posts yet." %>
<% end %>
